sudo: false
language: python
python:
    - 3.5
    - 3.6
install:
    - pip install -U pip
    - pip install -r requirements-optional.txt
script:
    - make all
after_success:
    - codecov
notifications:
    email:
        on_success: always
        on_failure: always

