dist: xenial
sudo: false
language: python
python:
    - 3.9
    - 3.10
    - 3.11
    - 3.12

install:
    - pip install -U pip
    - pip install -r requirements-optional.txt
script:
    - make all
after_success:
    - codecov
notifications:
    email:
        on_success: always
        on_failure: always
deploy:
  provider: pypi
  skip_existing: true
  skip_cleanup: true
  # mshriver owned
  user: mshriver
  distributions: sdist bdist_wheel
  password:
    secure: "Hy941hCWVzI61chaGA1n77tNhJK7eT0ePpzZCO2i9bWzoakhlzwUTaPNupFiFSfx1ao3CXo8fpBEY9czNNGgi8rK9w5wwZrGA87mp+ugWfWgqfDhmW83MKvutGvjqLwyAXwauTRcOMdFErnO2eZuXGYPltfj4hoQCZ5jku+XZts="
  on:
    tags: true
    repo: omaciel/fauxfactory
