# For `make lint`
flake8
flake8-docstrings
flake8-quotes
pydocstyle
pylint

# For generating documentation.
sphinx

# For `make package`
# defined in setup.py
wheel

# For `make publish`
twine

# For `make test-coverage`
codecov

# For `make test{,-*}`
pytest
pytest-cov
