# https://bitbucket.org/logilab/astroid/issue/76/python26-compatibility
astroid<1.3
coverage
coveralls
flake8
# https://bitbucket.org/logilab/pylint/issue/390/py26-compatiblity-broken
pylint<1.4
Sphinx
unittest2
discover
